@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b37aae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #ffffff;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border-radius: 6px;
  border: 2px solid #b37aae;  
  padding: 6px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #b37aae;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo-date {
  border: 2px solid #b37aae;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.9rem;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #333;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b37aae;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

/* Completed Task */
.completed {
  text-decoration: line-through;
  color: #ffffff;
}

/* Icons */
.edit-icon, .delete-icon {
  color: white;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s;
}

.edit-icon:hover, .delete-icon:hover {
  transform: scale(1.1);
}

.Todo small {
  color: rgb(255, 255, 255);
  font-style: italic;
  margin-left: 10px;
}

.fa-trash {
  margin-left: 0.75rem;
}

/* .deadline {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 5px;
}

.deadline.overdue {
  color: #f44336; 
  font-weight: bold;
}

.deadline.upcoming {
  color: #4caf50;
  font-weight: bold;
} */
